<!DOCTYPE html>
<html>
<head>
	<div class="row">
	<%= form_for @post, url: signed_posts_path do |f| %>

	<%= f.text_area :content %> <br>

	<%= f.submit %>
	<br>
	<% end %>
</div>

	<% @posts.each do |post| %>
		
			<div class="row pull-right">
			 
			  <%= post.created_at %>
			</div>
		    <div class="row well">
			   <%= post.content %> :
			   <%= post.user.email %> 
			
		    </div>
	
	<%end%>
