<!DOCTYPE html>
<html>
<head>
  <title> this is base</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row well">
			<div class="col-md-3">
				
				
				
			</div>
			<div class="col-md-9">
				
			    
			    <%=yield%>
			</div>	
		</div>

	</div>

<%= yield %>

</body>
</html>